.button {
    width: 100px;
    height: 30px;
    background-color: antiquewhite;
    border: 1px solid lightgray;
    font-size: 12px;


    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);;
    transition-duration: 0.5s;
    transition-delay: 0.3s;


}
.button:hover{
    background-color: lightcyan;
    opacity: 4;
    width: 200px;
    font-size: larger;
    border: 2px solid gray;
    box-shadow: 5px 5px rgb(17,191,99);

}

