.button {
    width: 100px;
    height: 30px;
    background-color: antiquewhite;
    border: 1px solid lightgray;
    font-size: 12px;


    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);;
    transition-duration: 0.5s;
    transition-delay: 0.3s;


}
.button:hover{
    background-color: lightcyan;
    opacity: 4;
    width: 200px;
    font-size: larger;
    border: 2px solid gray;
    box-shadow: 5px 5px rgb(17,191,99);

}
.newYear{
    display: block;
    width:200px;
    background-color: lightblue;
    padding: 20px;
    color: white;
    font-size: 0;

    transition-property: all;
    transition-delay:1s;
    transition-duration:1s;
    transition-timing-function: ease-in-out;

}

.newYear:hover{

    transform: rotate(30deg);
    background-color: red;
    font-size: 20px;



}
.flexbox{
    display:flex;
    justify-content: space-around;
}
/* Opacity*/

.opacityBox {
    position: relative;
}
.figure {
    position: absolute;
    bottom: 0; left: 0;
    padding: 5px;
    margin:5px;
    background: lightsteelblue;
    opacity: 0.5;

    transition: opacity, 3s, ease, 1s;
}

.figure:hover{
    opacity: 1;
}


/*Sliden*/

.slideBox{
    position: relative;
}

.slide {
    position: absolute;
    width: 330px; height: 20px;
    bottom: 4px;
    opacity: 0.5;
    background:red;
    font-size: 0;

    transition: all 0.5s;
}
.slide:hover{
    width: 330px; height: 50px;
    background:darkred;
    color: white;
    font-size: 20px;
    opacity: 1;
}
a{
    text-decoration: none;
}

ul{
    transition: all;
    transition-duration: 2s;
    transition-delay: 3s;
    transition-timing-function: linear;

}

li>a{
    display: inline-block;

}


.boots:hover {
    background-image: url(../image/boots.jpg);
    width: 300px;
    height: 300px;
}

.dress:hover{
    background-image: url(../image/dress.jpg);
    width: 300px;
    height: 300px;

}

.jupe:hover{
    background-image: url(../image/jupe.jpg);
    width: 300px;
    height: 300px;

}
