$border_button:#af2f2f;

.list__item button {
  width: 30px;
  height: 30px;
  border: $border-color;
  font-size: 0;


  transition: {
    property: all;
    duration: 0.5s;
    delay: 0.3s;
    timing-function:ease-in;
  }
  &:hover{
    font-size: 15px;
    color: darken($border_button, 20%);
    border: {
      color: $border_button;
      radius: 50%;
    }

  }
}
