$color_button:grey;

.list__item button {
  background-color: $color_button;
  width: 50px;
  border: $border-color;
  font-size: 0;


  transition: {
    property: all;
    duration: 0.5s;
    delay: 0.3s;
    timing-function:ease-in;
  }
  &:hover{
    background-color: darken($color_button, 20%);
    font-size: 20px;
    border-radius:50%;
}
}
