.footer{
  position: relative;
}
.padded {
  padding: 20px;
}
.pile {
  position: absolute;
  height: 5px;
  width: 99%;
  bottom:-8px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 5px;
  background-color: $color-list;
  border: $border-color;
  border-top: 0;
}