.list {
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    list-style-type: none;
    border: $border-color;
    background-color: $color-list;
    padding: 10px;
  }

  &__item--checkbox {

  }

  &__item--text {
    flex-grow: 2;
    margin:{
      left: 10px;
      top: 10px;
    }
  }
}

.list__item button {
  width: 50px;
  border: $border-color;

  transition: {
    property: all;
    duration: 0.5s;
    delay: 0.3s;
    timing-function:ease-in;
  }
}

