.list {
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    list-style-type: none;
    border: $border-color;
    background-color: $color-list;
    padding: 10px;
  }

  &__item--checkbox {
    font-size: larger;
  }

  &__item--text {
    flex-grow: 2;
    margin:{
      left: 10px;
      top: 10px;
    }
  }
}



