.button {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 50px;
  background-color: red; }

.navigation {
  background: lightblue; }
  .navigation__list {
    list-style-type: none;
    padding: 20px;
    text-align: center; }
  .navigation__item {
    width: 33%;
    float: left; }
  .navigation__item > a {
    text-decoration: none; }
    .navigation__item > a:hover {
      background-color: #86c5da; }

.clearfix {
  clear: both; }

header {
  background-color: #ffee00;
  height: 50px; }
