.wrapper{
    background-color: #f5f5f5;
    padding: 30px;
}

body {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
h1{
    text-align: center;
}

ul#liste {
    padding: 0;
    margin: 0;
}

#liste > li {
    list-style-type:none;
    border: 1px solid #ededed;
    background-color: #ffffff;
    padding: 10px;
}

.button {
    float: right;
    border: 1px solid #ededed;
    padding: 10px;
}

#enter, .item {
    border: 1px solid #ededed;
    padding: 20px;
    background-color: #ffffff;
}

#enter > input {
    height: 2.5em;
    font-size: 1em;
    width: 100%;
    border: none;
}

.list:after{
    content: '';
    background: #ffffff;
    height: 4px;
    border: 1px solid #ededed;
    border-radius:2px;
    display: block;
    bottom: -3px;
}
